{% extends 'base.html.twig' %}

{% block content %}
    {{ include('partials/page-title.html.twig', {pagetitle: 'User', title: 'New User'}) }}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ include('user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}

