{% extends 'base.html.twig' %}

{% block content %}
    {{ include('partials/page-title.html.twig', {pagetitle: 'User', title: 'New User'}) }}

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}

